@model userViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome! Click below to enter your data!</h1>
    <form asp-action="getData">
        <button class="btn btn-success" type="submit">Go!</button>
    </form>
</div>